# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app 

# Altium History
*.zip
History
*.SchDocPreview
*.PrjPCBStructure
*.$$$Preview
*.LOG
*.drc
*.html
pcb light/__Previews/main schematic.SchDocPreview
*.SchDocPreview
